.popup__button-save {
    min-width: 238px;
    min-height: 46px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    background-color: #000000;
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
}

@media (min-width: 620px) {
    .popup__button-save {
        min-width: 358px;
        min-height: 50px;
        font-size: 18px;
        line-height: 22px;
    }
}