.profile__edit-button {
    margin: 0 auto;
    margin-left: 10px;
    min-width: 18px;
    min-height: 18px;
    padding: 0;
    background-color: transparent;
    border: none;
    background-image: url(../../../src/images/Edit_Button.svg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.profile__edit-button:hover {
    opacity: 0.6;
    transition: 0.4s;
    cursor: pointer;
}

@media (min-width: 620px) {
    .profile__edit-button {
        min-width: 21px;
        min-height: 21px;
        margin-left: 14px;
    }
}

@media (min-width: 900px) {
    .profile__edit-button {
        min-width: 24px;
        min-height: 24px;
        margin-left: 18px;
    }
}