.photo-card__button-like {
    margin: 0 20px;
    background-color: transparent;
    background-image: url(../../../src/images/like_logo.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 19px;
    min-width: 22px;
    border: none;
}

.photo-card__button-like:hover {
    opacity: 0.5;
    transition: 0.4s;
    cursor: pointer;
}