.popup__close-button {
    position: absolute;
    right: 0;
    top: -36px;
    min-width: 20px;
    min-height: 20px;
    background-image: url(../../../images/Close_Icon.svg);
    background-size: cover;
    background-color: transparent;
    border: none;
    
}

.popup__close-button:hover {
    opacity: 0.5;
    transition: 0.4s;
}

@media (min-width: 620px) {
    .popup__close-button {
        right: -36px;
        top: -36px;
        min-width: 32px;
        min-height: 32px;
    }
}