.profile__edit-button-img {
    position: absolute;
    right: -30px;
    bottom: 5px;
    max-width: 18px;
}

.profile__edit-button-img:hover {
    opacity: 0.6;
    transition: 0.4s;
}

@media (min-width: 620px) {
    .profile__edit-button-img {
        right: -34px;
        max-width: 21px;
        bottom: 8px;
    }
}

@media (min-width: 900px) {
    .profile__edit-button-img {
        right: -38px;
        max-width: 24px;
        bottom: 8px;
    }
}